*{margin: 0;padding: 0; font: inherit; color: inherit; list-style: none;}
* , :after, ::before{box-sizing: border-box;}
html, body{height: 100%;}
img, picture, video, canvas, svg{display: block; max-width: 100%;}
a{text-decoration: none;}
/* 웹폰트 */
@font-face {
    font-family: "LaMerText-Regular";
    font-display: swap;
    font-style: normal;
    src: url(/fonts/LaMerText-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "NeueHaasUnicaPro-Regular";
    font-display: swap;
    font-style: normal;
    src: url(/fonts/NeueHaasUnicaPro-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "La Mer Headline KR";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/LaMerHeadline-Black.woff2) format("woff2");
}
@font-face {
    font-family: "La Mer Headline KR";
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/LaMerHeadline-BlackItalic.woff2) format("woff2");
}



.body{
    font-family: "La Mer Headline KR", sans-serif;
}
.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
}
.mainSection{
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    margin-bottom: 80px;/* 한섹션간의 간격 100px */
    border : 1px solid tomato;
}
/* 보이지않되, 스크린리더에 읽히는 고전적인 숨김방법 */
.visuallyHidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
/* 섹션별 타이틀 기본스타일 */
.sectionTitle{
    margin:100px 0 10px 0;
    font-family: "La Mer Headline KR" , sans-serif, serif;
    letter-spacing: -3px;
    font-size: 52px;
    line-height: 90%;
}
/* 자세히알아보기 링크 */
.readMoreLink{
    display: block;
    padding-bottom: 20px;
    font-size: 10px;
    color:#444;
    text-decoration: underline;
    margin: 30px 0;
    letter-spacing: 0.7px;
}

/* 지금쇼핑하기 링크 및 위치잡기 */
.productDescBottom{
    position: relative;
}
.shopNowLink{
    position: absolute;
    padding-bottom: 20px;
    font-size: 15px;
    color:#444;
    text-decoration: underline;
    margin: 30px 0;
    letter-spacing: 0.7px;
    bottom: 0;
    left: 70%;
}

/* 헤더 부분 */
header .headerTop{
    width: 100%;
    height: 50px;
    border: 1px solid tomato;
    position: relative;
}
.promotionlist > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    /* gap: 1rem; */
}
.promotionlist li{
    display: flex;
    font-size: 12px;
    position: absolute;
    top: 30%;
}
.promotionlistBtn ul{
    display:flex;
    align-items: center;
}
.promotionlistBtn li{
    content: '';
    width: 20px;
    height: 20px;
    border-top: 5px solid #000;
    border-right: 5px solid #000;
}
.promotionlistBtn ul li:nth-child(1){
    transform: rotate(225deg);
}
.promotionlistBtn ul li:nth-child(2){
    transform: rotate(45deg);
}
.headerBotton{
    height: 80px;
    border: 1px solid tomato;
}

/* 첫페이지 메인 */
.mainContent_wrapper{
    display: flex;
    justify-content: center;
}
.mainContentRight_description{
    display: flex;
    flex-direction: column
}

.mainContentRight_description > h3{
    margin:100px 0 100px 0;
    font-size: 75px;
}
.introduction{
    flex-grow: 1;
    font-size: 20px;
    color:#666;
}
.addComent{
    flex-grow: 1;
    font-style:italic;
    font-size: 13px;
    color:#666;
}
.readMoreLink{
    display: block;
    padding-bottom: 20px;
    font-size: 15px;
    color:#444;
    text-decoration: underline;
}
.bigLogo{
    flex-grow: 0;
}

/* 두번째 페이지 데이앤나이트리뉴얼 */
.bestProductTitle_wrapper > h3{
    margin:100px 0 20px 0;
    font-size: 60px;
    font-weight:400;
    letter-spacing: 0.2px;
}
.bestProductTitle_wrapper > h3 em{
    font-style: italic;
}
.bestProductTitle_wrapper p{
    margin-bottom: 50px;
}
.imageBox{
    position: relative;
    background: #F3F4F6;
    width: 421px;
    height: 524px;
}
.imageBox img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.productImage_hover{
    opacity: 0;
    transition: opacity 0.2s linear;
}
.imageBox:hover .productImage_hover{
    opacity: 1;
}

.bestProducts_wrapper{
    height: 630px;
}
.bestProducts_wrapper > ul{
    display: flex;
    justify-content:space-around;
}
.bestProducts_wrapper > ul > li{
    display: flex;
    flex-direction: column;
    width: 421px;
}
/* 제품용량박스 */
.productSizeBox{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 0;
}
.productSizeBox li{
    display: block;
    padding: 10px 0 10px 0;
}
.productSizeBox a{
    display: block;
    width: 70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 0.5px solid #555;
}
/* 세번째 페이지 대표제품 및 베스트셀러 바로가기 링크 */
.productDescription> div > h3{
    font-size: 52px;
    font-weight:500;
    letter-spacing: 0.2px;
    line-height: 140%;
}
.productIntro_wrapper > ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.productIntro_wrapper a{
    display: block;
    width: 720px;
    height: 900px;
}
.productIntro_wrapper > ul li:nth-child(1) a{
    background-image: url(https://www.lamerkorea.com/media/export/cms/homepage/2025/MAR25/LM_0203_main_05.jpg);
}
.productIntro_wrapper > ul li:nth-child(2) a{
    background-image: url(https://www.lamerkorea.com/media/export/cms/homepage/2025/APR25/LM_0401_main_02.jpg);
}
/* 네번째페이지 대표제품 슬라이더 */
.productSlide_wrapper ul{
    display: flex;
}
.productSlide_wrapper > ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
}
.productDescription{
    display: flex;
    flex-direction: column;
}
.productDescTop > .sectionTitle{
    margin-top: 0;
}
.productDescription .productDescTop >p{
    font-size: 15px;
    line-height: 160%;
    color:#666;
}
.bigsizeImage img{
    width: 720px;
    height: 900px;
}

/* 다섯번째페이지 프로모션 */
.promotionPage_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main aside{
    height: 800px;
    border : 1px solid tomato;
}
footer{
    height:80px;
    border: 1px solid tomato;
}
